.main{
    display: flex;
    flex-direction: row;
}

.loginpic{

}

.left{
    margin-left: -500px;
    margin-right: -250px;
width: 50%;
}

.right{
    padding-left:800px;

}

.Register_form{
    display: flex;
    flex-direction: column;
}

.register-name,.register-email,.register-roles,.register-password{
    padding-bottom: 10px;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.register-input{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}